<a href="https://colab.research.google.com/github/kgandhi-25/Speech-Sentiment-Prediction/blob/master/Movie_Review_Sentiment_Analysis(navie_bayes).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
from google.colab import files
uploaded = files.upload()

In [0]:
import pandas as pd
df = pd.read_csv('train.tsv',sep='\t')

# Dataset Discription
Phrase --- the text message which has to analysed
Sentiment -- this column takes numbers 0,1,2,3,4
The sentiment labels are:

0 - negative
1 - somewhat negative
2 - neutral
3 - somewhat positive
4 - positive

In [9]:
display(df)

        PhraseId  ...  Sentiment
0              1  ...          1
1              2  ...          2
2              3  ...          2
3              4  ...          2
4              5  ...          2
...          ...  ...        ...
156055    156056  ...          2
156056    156057  ...          1
156057    156058  ...          3
156058    156059  ...          2
156059    156060  ...          2

[156060 rows x 4 columns]

# Data Preprocessing

In [10]:
df.drop(labels=['PhraseId','SentenceId'],axis=1)

                                                   Phrase  Sentiment
0       A series of escapades demonstrating the adage ...          1
1       A series of escapades demonstrating the adage ...          2
2                                                A series          2
3                                                       A          2
4                                                  series          2
...                                                   ...        ...
156055                                          Hearst 's          2
156056                          forced avuncular chortles          1
156057                                 avuncular chortles          3
156058                                          avuncular          2
156059                                           chortles          2

[156060 rows x 2 columns]

# Data Split 
splitting of dataset into training data and testing data

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df['Phrase'], 
                                                    df['Sentiment'], 
                                                    random_state=1)

print('Number of rows in the total set: {}'.format(df.shape[0]))
print('Number of rows in the training set: {}'.format(X_train.shape[0]))
print('Number of rows in the test set: {}'.format(X_test.shape[0]))

Number of rows in the total set: 156060
Number of rows in the training set: 117045
Number of rows in the test set: 39015

In [0]:

from sklearn.feature_extraction.text import CountVectorizer
count_vector = CountVectorizer()
# Instantiate the CountVectorizer method
count_vector = CountVectorizer()

# Fit the training data and then return the matrix
training_data = count_vector.fit_transform(X_train)
#data = pd.DataFrame(data = training_data,columns = count_vector.get_feature_names())
k = training_data.toarray()



# Transform testing data and return the matrix. Note we are not fitting the testing data into the CountVectorizer()
testing_data = count_vector.transform(X_test)

# Training Model

In [0]:
from sklearn.naive_bayes import MultinomialNB
naive_bayes = MultinomialNB()
naive_bayes.fit(training_data.toarray(), y_train.toarray())

In [16]:
predictions = naive_bayes.predict(testing_data)
display(predictions)

array([2, 1, 2, ..., 4, 2, 3])

In [17]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
print('Accuracy score: ', format(accuracy_score(y_test, predictions)))
# print('Precision score: ', format(precision_score(y_test, predictions)))
# print('Recall score: ', format(recall_score(y_test, predictions)))
# print('F1 score: ', format(f1_score(y_test, predictions)))

Accuracy score:  0.6083301294373958